* {
  box-sizing: border-box;
  transition: all 0.2s ease;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: white;
}

.flex-1 {
  flex: 1;
}

button {
  cursor: pointer;
}

.btn-round {
  padding: 5px 10px;
  font-size: 18px;
  font-weight: 600;
  background-color: aquamarine;
  border: 0px;
  border-radius: 500px;
  cursor: pointer;

  &.disabled {
    cursor: not-allowed;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;

  min-height: 100vh;
  background-color: burlywood;

  &.wrapper-admin {
    background-color: white;
  }

  header {
    padding: 40px;
    background-color: rgb(255, 255, 255, 0.5);
  }

  @media screen and (max-width: 640px) {
    header {
      padding: 20px;
    }
  }

  .main {
    flex: 1;
    padding: 40px;
    padding-top: 20px;
  }

  @media screen and (max-width: 640px) {
    .main {
      padding: 10px;

      &.main-admin {
        padding: 10px 0px;
      }
    }
  }

  footer {
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
  }

  @media screen and (max-width: 640px) {
    footer {
      padding: 20px;
      padding-bottom: 40px;
    }
  }
}

img.product-img {
  display: block;
  height: 100px;
  width: auto;
}

.product-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;

  width: 100%;
}

.product-item,
.modal-cart-item,
.cart-item {

  >img.product-img {
    display: block;
    height: 100px;
    width: auto;
  }
}


.product-item {
  padding: 15px;
  min-width: 200px;
}

.cart-item {
  width: 100%;
  padding-top: 0px;
  padding-bottom: 15px;
  padding-left: 0px;
  padding-right: 0px;
}

.restorani-list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;

  .restoran {
    margin: 15px;
    padding: 20px;
    background-color: white;
    border-radius: 6px;
  }
}


.main-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;

  width: 100%;

  >* {
    padding: 20px;
    margin-right: 20px;
    min-width: 280px;
    background-color: white;
    border-radius: 6px;

    /* width: 100%; */
    flex: 1;

  }

  >.cart {
    max-width: 320px;
    margin-right: 0px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    .narucivanje-forma {
      width: 100%;
    }
  }
}

@media screen and (max-width: 640px) {
  .main-columns {
    flex-direction: column;
    flex-wrap: nowrap;

    >.products {
      margin-right: 0px;
    }

    >.cart {
      margin-top: 15px;
    }
  }
}


.bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  >.naziv {
    padding-right: 15px;
  }
}

table {
  border-collapse: collapse;

  tr {
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    td,
    th {
      padding: 3px 10px;
      vertical-align: top;
      border-left: 1px solid black;
      border-right: 1px solid black;
    }
  }
}

table.order-items-table {
  background-color: rgb(220, 220, 220);
}

table.admin-panel-products-table>tbody>tr>td,
table.admin-panel-orders-table>tbody>tr>td {
  padding-bottom: 10px;
  border-bottom: 3px solid black;
}

@media screen and (max-width: 640px) {
  .admin-panel {
    table {
      font-size: 12px;
    }
  }
}


form {
  .field {
    padding-bottom: 15px;

    label {
      display: block;
      padding-bottom: 5px;
      font-size: 14px;
      color: #356454;
    }

    input,
    select {
      width: 100%;
      padding: 7px 10px;
      border: 1px solid #356454;
      border-radius: 6px;
    }

    input[type="number"] {
      text-align: right;
    }

    textarea {
      width: 100%;
      min-height: 50px;
      max-height: 100px;
      padding: 7px 10px;
      border: 1px solid #356454;
      border-radius: 6px;
      resize: vertical;
    }

    img.product-img {
      display: block;
      height: 100px;
      width: auto;
    }
  }
}


/* MODAL */

.modal-overlay {
  position: fixed;
  z-index: 999;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100vw;
  height: 0px;

  background-color: transparent;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  .modal-panel {
    position: absolute;
    bottom: -600px;
    box-sizing: border-box;
    width: 560px;
    height: 0px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 6px 2px rgb(0, 0, 0, 0.5);
    overflow: hidden;
    padding: 40px;
    padding-bottom: 60px;

    .close {
      position: absolute;
      top: 5px;
      right: 5px;
      width: 20px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      font-size: 20px;
      background-color: rgb(48, 48, 48);
      color: white;
      border-radius: 200px;
      cursor: pointer;
    }
  }

  @media screen and (max-width: 640px) {
    .modal-panel {
      width: 90%;
      margin-right: 10px;
    }
  }
}

@media screen and (max-width: 640px) {
  .modal-overlay {
    justify-content: flex-end;
  }
}

.modal-opened {
  .modal-overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    transition: height 0s linear, background-color 0.2s ease;

    .modal-panel {
      bottom: -10px;
      height: unset;
      min-height: 480px;
    }
  }
}

.admin-panel-wrapper {
  .admin-panel-login-form {
    max-width: 360px;
  }

  .admin-panel {
    padding: 20px;
    background-color: white;
    border-radius: 6px;
  }

  @media screen and (max-width: 640px) {
    .admin-panel {
      padding: 10px;

      h2 {
        font-size: 16px;
      }
    }
  }

}